

.inputForm{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.inputForm input{
    padding: .5rem;
    border: none;
    outline: none;
    margin-bottom: .4rem;
}
.inputForm button{
    border: none;
    outline: none;
    background-color: rgb(34, 80, 196);
    color: #fff;
    font-weight: 500;
    padding: .5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width:90px
}

.card p{
    background-color:#fff;
    padding: .3rem;
    border-radius: .4rem;
    box-shadow: 0px 1px 4px black;
    text-align: center;
    margin: .4rem;
    text-align: left;
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #eee;
    margin-bottom: 2rem;
}

.card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #eee;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 2rem;
    min-width: 200px;
}

