

.inputForm{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding-top: .5rem;
}
.inputForm input{
    padding: 1rem ;
    border: none;
    outline: none;
    margin-bottom: .4rem;
    margin:0 1rem;
    border-radius: .4rem;
}
.inputForm button{
    border: none;
    outline: none;
    background-color: rgb(34, 80, 196);
    color: #fff;
    font-weight: 500;
    padding: .5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width:90px;
    margin: 0 1rem;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #eee;
    margin-bottom: 2rem;
}



