.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}
.navbar {
  background-color: rgb(245, 218, 218);
  background-color: rgba(234, 231, 231, 0.5);
}
.navbarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbarRight{
    margin-left: 3rem;
}

.navbarRight {
  display: flex;
  gap: 0.5rem;
  margin-right: 7rem;
}
.user {
  color: #fff;
}
.logo {
  font-size: 2.3rem;
  font-weight: 600;
}
.navbarRight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
}
.navbarRight img {
  height: 6vh;
  width: 6vh;
  border-radius: 2rem;
}
