.container{
    display: flex;
    border-radius: 0.5rem;
    gap:20px;
    padding-top: 8rem;
    padding-left:2rem ;
    overflow: scroll;
    width: 99%;
    
}
.container::-webkit-scrollbar{
    display: none;
}
.lists_container{
    display: flex;
    gap: 20px;
}
.list_title{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: .5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}
.list_title h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(34, 80, 196);
    margin-left: 1rem;
}

.addForm{
    display: flex;
    flex-direction: column;
}

.addForm input{
    padding: .5rem;
    border: none;
    outline: none;
    margin-bottom: .4rem;
}
.addForm button{
    border: none;
    outline: none;
    background-color: rgb(34, 80, 196);
    color: #fff;
    font-weight: 500;
    padding: .5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width:90px
}


.card{
    background-color:#fff;
    padding: .5rem;
    border-radius: .4rem;
    box-shadow: 0px 1px 4px black;
    text-align: center;
    margin: .4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.card .delete_button{
    display: none;
}
.card:hover .delete_button{
    display: block;
    color: red;
    cursor: pointer;
    font-size: 1.1rem;
}

.card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #eee;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    min-width: 250px;
}
.delete_button{
    font-size: 1.4rem;
}